header {
    background-color: #272727;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: #272727;
}

.burger_btn img {
    height: 48px;
    width: 48px;
    text-align: center;
}

.underline{
    width: 100%;
    border-bottom: 2px solid #12A76C;
}

.nav {
    max-width: 960px;
    width: 100%;
    padding: 8px;
}

.nav_ul_li {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.nav_ul_li button{
    background-color: white;
}

.nav_ul_li button:hover{
    background-color: gray;
    border-radius: 16px;
}

.nav_left {
    text-align: center;
    margin-left: 48px;
}

.nav_mid {
    text-align: center;
}

.nav_mid h1 {
    color: white;
    font-size: 32px;
}

.nav_right {
    display: flex;
    gap: 32px;
    margin-right: 48px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.content_area {
    width: calc(100% - 300px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content_title {
    width: 100%;
    height: 100%;
    text-align: center;
}