.header_link_button {
    height: 48px;
    width: 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.nav_link_button a {
    padding: 8px;
}

.nav_link_button a:hover {
    font-weight: bold;
    transform: scale(1.06);
    transition: 200ms;
}

.footer_left_link_button a:hover {
    text-decoration: underline;
}

.dividing_line{
    width: 100%;
    border: 1px solid rgb(216, 216, 216);
}

.background_white {
    background-color: white;
}
