.link_button {
    height: 48px;
    width: 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.burger_btn img {
    height: 48px;
    width: 48px;
    text-align: center;
}