.basket_area {
    border: 1px solid rgb(216, 216, 216);
    box-shadow: 0px 0px 24px -8px rgb(160, 160, 160) inset;
    width: 380px;
    padding: 16px;
    position: relative;
    flex-grow: 1;
}

.basket {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.basket_title {
    width: 100%;
    padding: 24px 24px 0 24px;
    justify-content: center;
    display: flex;
}

.basket_deliver_pickUp_toggle_area {
    width: 100%;
    padding: 8px;
    margin: 8px 0 8px 0;
}

.basket_deliver_pickUp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(211, 211, 211);
    border: 4px solid rgb(211, 211, 211);
    border-radius: 32px;
}

.deliver, .pickup{
    width: 100%;
    height: 3em;
    border-radius: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basket_toggle_input {
    position: absolute;
    display: block;
    height: 1px;
    width: 1px;
    clip-path: inset(1px);
    overflow: hidden;
    white-space: nowrap;
}

.basket_toggle_label {
    cursor: pointer;
    position: relative;
    padding: 8px 28px 8px 28px;
}

.basket_display{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.basket_display img{
    height:32px
}

.basket_display_img{
    display: flex;
    align-items: center;
}

.basket_display p{
    font-size: 12px;
}

/* basket item area */
.basket_item_area{
    width: 100%;
    padding: 16px;
}

.basket_info_area{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.info_name_price{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 16px 0 16px 0;
}

.info_name span{
    cursor: pointer;
    font-weight: bolder;
    text-decoration: underline;
}

.info_price span{
    font-weight: bold;
}

.info_remark_howmany{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 16px;
}

.info_remark p{
    width: 104px;
    cursor: pointer;
    text-decoration: underline;
}

.info_toggle_howmany{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.info_howmany{
    height: 44px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_howmany span{
    font-weight: bold;
}

.info_toggle_plus_minus{
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_toggle_plus_minus img{
    height: 44px;
}

.info_toggle_plus_minus:hover {
    background-color: rgb(216, 216, 216);
    border-radius: 50%;
    transition: 200ms;
}


/* basket ordering price area */
.basket_ordering_price{
    width: 100%;
    text-align: center;
    padding: 48px;
}

.basket_ordering_price img{
    height: 48px;
}