.order {
    width: 100%;
    height: auto;
}

.order_range {
    border: 1px solid rgb(216, 216, 216);
    box-shadow: 0px 0px 24px -8px rgb(160, 160, 160) inset;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order_area {
    max-width: 960px;
    padding: 16px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

.category_order {
    width: 100%;
}

.category_container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}

.category_image {
    width: 100%;
}

.category_image img {
    width: 100%;
    height: 120px;
    border-radius: 16px;
    object-fit: cover;
    object-position: center;
}

.items_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.category_img {
    width: 100%;
    height: 160px;
    border-radius: 16px;
    object-fit: cover;
    object-position: center;
}

.order_part {
    cursor: pointer;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 16px;
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order_part:hover {
    background-color: rgb(211, 211, 211);
}

.order_plus {
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order_plus img {
    height: 44px;
}

.order_plus:hover {
    background-color: #376E6F;
    border-radius: 50%;
    transition: 200ms;
}